{{ define "main" }}
<div class="content">   
  <div class="post">
    <h1 class="post-title">
      <a href="/">Welcome!</a></h1>
    <div class="post-meta">  
    </div>
      <img src="img/zoe.png" class="post-cover" alt="Welcome">
  
    <div class="post-content"><div>
          <p>Welcome to my website!</p>
          <p>My favorite things: coding, maps, basketball, my nieces + nephew, hiking, and reading.</p>
          <p>Read more <a href="/about"><strong>about me.</strong></a></p> 
          </div></div>
  </div> 
    </div>

  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    {{ range $paginator.Pages }}
      <div class="post on-list">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <div class="post-meta">
          <span class="post-date">
            {{ .Date.Format "2006-01-02" }}
          </span>
          {{ with .Params.Author }}
            <span class="post-author">:: {{ . }}</span>
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ if .Params.Cover }}
          <img src="{{ .Params.Cover | absURL }}" class="post-cover" alt="{{ .Title | plainify | default " " }}" />
        {{ end }}

        <div class="post-content">
          {{ if .Params.showFullContent }}
          {{ .Content | markdownify }}
          {{ else if .Description }}
          {{ .Description | markdownify }}
          {{ else }}
          {{ if .Truncated }}
          {{ .Summary | markdownify }}
          {{ end }}
          {{ end }}
        </div>

        {{ if not .Params.showFullContent }}
        <div>
          <a class="read-more button"
            href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
        </div>
        {{ end }}
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
